# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives:**
- List popular languages
- List popular libraries
- List popular tools
- Create basic arithmetic expressions

## Languages
Some languages commonly used by data scientists are:
1. Python
2. SQL
3. R
4. Java
5. Julia
6. JavaScript
7. C++

## Libraries
Some libraries, sorted by language, commonly used by data scientists are:
1. Python
    1. Pandas
    2. NumPy
    3. Matplotlib
2. R
    1. Dplyr
    2. Shiny
    3. Caret

## Tools
Some data science tools commonly used by data scientists are:

|Data science tool|
|-----------------|
|Jupyter Notebook |
|Anaconda         |
|Rstudio          |

## Arithmetic expression
### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
min_per_h = 60

hours = minutes / min_per_h
print(hours)

3.3333333333333335

## Author
Daan Janssen